/RaknaA.class
/Baklanges.class
/StorstaK.class
/HighLow.class
/Triangle.class
/NastaStorsta.class
/TartLjus.class
/BytaPlats.class
/RaknaSiffror.class
/Palindrom.class
/FrekvensTabell.class
/Frekvenstabell.class
/Frekvenstabell$KeyValuePair.class
/OmvandOrdning.class
/Lonerevision.class
